.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  font-family: SFRegular, Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #5E5E5E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  &-content {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
  }

  &-fixed {
    box-shadow: 0px 8px 18px -12px rgba(87,81,87,1);
  }

  &-logo {
    width: 70px;
  }

  &-burger {
    padding: 10px;
    & > div {
      display: none;
      position: absolute;
      top: calc(50% - 15px);
      right: 0;
  
      width: 35px;
      height: 30px;
      cursor: pointer;
      z-index: 30;
    }
    span {
      background-color: $yellow;
      position: absolute;
      border-radius: 2px;
      transition: .3s cubic-bezier(.8, .5, .2, 1.4);
      width:100%;
      height: 4px;
      transition-duration: 500ms;

      &:nth-child(1) {
        top: 0; left: 0;
      }
      &:nth-child(2) {
        top: 13px; left: 0;
        opacity: 1;
      }
      &:nth-child(3) {
        bottom: 0; left: 0;
      }
    }

    &.open span {
      background-color: #fff;
    }
    &.open span:nth-child(1){
      transform: rotate(45deg);
      top: 13px;
    }
    &.open span:nth-child(2){
      opacity:0;
    }
    &.open span:nth-child(3){
      transform: rotate(-45deg);
      top: 13px;
    }
  }

  &-links {
    display: flex;
    padding: 0 5%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    .router-link-active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $yellow;
      }
    }
  }


  // mobile header
  &-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    text-align: center;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 25;

    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: $desktop-little) {
  .header {
    &-links {
      font-size: 16px;
    }
  }
}

@media (max-width: $tablet) {
  .header {
    &-content {
      justify-content: space-between;
    }
    &-links {
      display: none;
    }

    &-burger {
      & > div {
        display: block;
      }  
    }
  }
}

@media (max-width: $phone) {
  .header {
    height: 70px;

    &-logo {
      width: 60px;
    }
  }
} 





.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}