.btn {
  min-width: 150px;
  text-align: center;
  border-radius: 47px;
  font-size: 16px;
  transition: 0.2s;
  
  // sizes
  &-lg {
    padding: 15px 20px; 
  }
  // colors
  &-black {
    background-color: #535353;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.05);
    color: $white;
    &:hover {
      background-color: #3e3c3c;
    }
  }
}