html, body {
  height: initial !important;
}
body {
  width: 100%;
  position: relative;
  margin: 0;
  background-size: cover;
  background-color: #F3F3F9;
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(0,0,0,0);
}
input, button {-webkit-appearance: none;}
.row, p, ul, li, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
li {list-style-type: none;}
a {color: inherit;}
img {max-width: 100%;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
a, a:hover, a:active, a:visited, a:focus {outline: none; text-decoration: none;}
input:hover, input:focus, input:active, textarea:focus {outline: none;}
:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder {color: transparent;}
:focus:-moz-placeholder {color: transparent;}
:focus:-ms-input-placeholder {color: transparent;}
button:focus {outline: none; border: 1px solid transparent;}
select:focus {outline: none;}


.box-shadow {
  background-color: #fff;
  box-shadow: 0px 4px 10px #E5E5E5;
  border-radius: 3px;
}

.main-content {
  width: calc(100% - 255px);
}

// container
.container {
  width: 90%;
  padding: 20px;
  margin: 30px auto;

  &-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: RobotoRegular;
    font-weight: 300;
  }
}

// width
.width {
  &-auto {
    width: auto;
  }
  &-full {
    width: 100%;
  }
}

// flexbox
.flex {
  &-row {
    display: flex;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  // align-items
  &-align {
    &-center {
      align-items: center;
    }
  }
  // justify-content
  &-justify {
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
  }
}

// cols
.col {
  &-50p {
    width: calc(50% - 20px);
    margin-right: 20px;
    &:nth-child(2n) {
      width: 50%;
      margin-right: 0;
    }
  }
  &-33p {
    width: calc(33% - 20px);
    margin-right: 20px;
    &:nth-child(3n) {
      width: 33%;
      margin-right: 0;
    }
  }
}

// margin-bottom
.mb {
  &-40 {
    margin-bottom: 40px;
  }
  &-30 {
    margin-bottom: 30px;
  }
  &-20 {
    margin-bottom: 20px;
  }
}
// margin-right
.mr {
  &-5 {
    margin-right: 5px;
  }
}

// chevron
.chevron {
  display: inline-block;
  width: 15px;
  height: 15px;
  transition: 0.2s;
  background-image: url('~@/assets/images/chevron.svg');
  background-size: 11px 5px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &-top {
    transform: rotate(180deg);
  }
}
// cross 
.cross {
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: 0.2s;
  background-image: url('~@/assets/images/cross.svg');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}


// text
.text {
  &-green {
    color: $green;
  }
  &-blue {
    color: $blue;
  }

  &-left {
    text-align: left;
  }
}

// links {
.link {
  &-blue {
    color: $blue;
  }
}  

// position
.position {
  &-relative {
    position: relative;
  }
}
// cursor
.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-default {
    cursor: default;
  }
}
// displays
.d {
  &-block { display: block; }
}