.about {
  &__header {
    background: url('~@/assets/images/sun.png') no-repeat;
    background-position: center center;
    &__content {
      width: 1100px;
      height: 460px;
      margin: 0 auto;
    }
  }
  &__main {
    background: linear-gradient(180deg, #F7F7F7 1.44%, #FFFFFF 63.06%);
    padding: 100px 0;
    &__content {
      width: 1100px;
      margin: 0 auto;
      display: flex;  
      flex-wrap: wrap;
      font-size: 19px;
      text-align: justify;
      .item {
        p, img {
          margin: 30px 0;
        }
        &:nth-child(1), &:nth-child(2) {
          width: 50%;
          p {
            margin-right: 30px;
          }
        }
        &:nth-child(3), &:nth-child(4) {
          width: 45%;
        }
        &:nth-child(5) {
          width: 100%;
        }
      }
    }
    &__certificates {
      width: 1100px;
      margin: 0 auto;
    }
    &__inner {
      border: 9px solid #FFE461;
      width: 100%;
      height: 260px;
      margin: 30px auto;
      position: relative;
      .left {
        height: 100%;
        width: 25%;
        font-size: 35px;
        margin: 30px 0 0 55px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .right {
        background: #fff;
        padding: 20px;
        position: absolute;
        right: 8%;
        bottom: -25%; 
        img {
          width: 140px; height: auto;
          margin: 0 5px;
        }
      }
    }
  }
}

@media (max-width: $desktop-big) {
  .about {
    width: 100%;
    margin: 0 auto;
    &__header {
      &__content {
        width: 100%;
      }
    }
    &__main {
      padding: 50px 0;
      &__content {
        width: 85%;
        .item {
          &:nth-child(4) {
            margin-left: 40px;
          }
        }
      }
      &__certificates {
        width: 90%;
      }
      &__inner {
        width: 90%;
        .left {
          font-size: 30px;
          width: 35%;
        }
        .right {
          right: 2%;
          padding: 15px;
        }
      }
    }
  }
}

@media (max-width: $desktop-little) {
  .about {
    &__header {
      &__content {
        img {
          width: 80%; height: auto;
        }
      }
    }
    &__main {
      &__inner {
        width: 85%;
        height: auto;
        .left {
          font-size: 25px;
          width: 100%;
          margin: 20px 0 0 0;
          text-align: center;
        }
        .right {
          position: relative;
          right: 0;
          bottom: 0;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .about {
    &__main {
      &__content {
        .item {
          &:nth-child(n) {
            width: 80%;
            margin: 0 auto;
            p, img {
              margin-right: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $phone) {
  .about {
    &__main {
      &__content {
        .item {
          &:nth-child(n) {
            width: 100%;
          }
        }
      }
    }
  }
}