.main {
  // первый слайдер на главной
  &-slider {
    position: relative;
    margin-bottom: 30px;
    &__slide {
      height: 450px;
      &-bg {
          background-image: url('~@/assets/images/slide-bg__yellow.png');
        h1 {
          color: $white;
        }
      }

      & > div {
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .left, .right {
          width: 40%;
        }
        .left {
          margin-right: 30px;
        }

        h1 {
          color: $black;
          font-family: BebasRegular;
          font-weight: 300;
          font-size: 55px;
        }

        a.btn {
          display: inline-block;
          margin-top: 15px;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  // карточки с ссылками
  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .cart {
      flex: 0 0 30%;
      height: 230px;
      padding: 35px;
      margin-bottom: 30px;
      box-sizing: border-box;
      box-shadow: 9px 9px 18px rgba(0,0,0,.13);
      background-color: $white;
      border-radius: 8px;
      position: relative;
      &-content {
        width: 60%;
      }
      &-img {
        position: absolute;
      }
      &-link {
        position: absolute;
        width: 35%;
        left: 35px;
        bottom: 25px;
        .arrow {width: 45px;}
      }
      // увеличение стрелки при наведении на карточку
      &:hover {
        .smooth-arrow {
          .arrow {
            width: 55px;
          }
        }
      }
      // позиционирование картинок
      &:nth-child(1) {
        .cart-img {
          width: 91px;
          bottom: -3.5px;
          right: 8px;
          img {
            pointer-events: none;
          }
        }
      }
      &:nth-child(2) {
        .cart-img {
          width: 150px;
          bottom: -3.5px;
          right: 3px;
        }
      }
      &:nth-child(3) {
        .cart-img {
          width: 160px;
          bottom: -6px;
          right: 3px;
        }
      }
      &:nth-child(4) {
        overflow: hidden;
        .cart-img {
          width: 160px;
          bottom: -4px;
          right: -36px;
        }
      }
      &:nth-child(5) {
        .cart-img {
          width: 160px;
          bottom: 0px;
          right: 0px;
        }
      }
      &:nth-child(6) {
        .cart-img {
          width: 160px;
          bottom: 0px;
          right: -8px;
        }
      }

      h2 {
        margin-bottom: 5px;
        text-transform: uppercase;
        color: $black;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        color: #636363;
        font-weight: 300;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: $desktop-big) {
  .main {
    width: 100%;
    margin: 0 auto;
    &-slider {
      &__slide {
        & > div {
          width: 100%;  
        }
      }
    }  
    &-links {
      width: 95%;
      margin: 0 auto;
      .cart { 
        margin: 0 auto 30px auto;
        &:nth-child(1) {
          .cart-img {
            width: 75px;
          }
        }
        &:nth-child(2) {
          .cart-img {
            width: 120px;
          }
        }
        &:nth-child(3) {
          .cart-img {
            width: 130px;
          }
        }
        &:nth-child(4) {
          .cart-img {
            width: 140px;
          }
        }
        &:nth-child(5) {
          .cart-img {
            width: 140px;
            right: 0px;
          }
        }
        &:nth-child(6) {
          .cart-img {
            width: 140px;
            right: 0px;
          }
        }
      }
    } 
  }
  
}

@media (max-width: $desktop-little) {
  .main {
    &-slider {
      &__slide {
        & > div {
          h1 {
            font-size: 40px;
          }
        }
      }
    } 
    &-links {
      .cart {
        flex: 0 0 45%;
      }
    }
  }
}

@media (max-width: $tablet) {
  .main {
    &-slider {
      &__slide {
        & > div {
          flex-direction: column;
          .left, .right {
            width: 55%;
            margin: 10px 0;
            text-align: center;
          }
          h1 {
            font-size: 30px;
          }
          img {
            width: 60%;
            margin: 10px auto;
          }
        }
      }
    } 
    &-links {
      .cart {
        flex: 0 0 70%;
        .arrow {
          // width: 55%;
        }
      }
    }
  }
}

@media (max-width: $phone) {
  .main {
    &-slider {
      & > div {
        .left, .right {
          width: 60%;
        }
      }
    } 
    &-links {
      .cart {
        flex: 0 0 95%;
        &-link {
          width: 120px;
        }
        &:nth-child(1) {
          .cart-img {
            width: 65px;
          }
        }
        &:nth-child(2) {
          .cart-img {
            width: 100px;
          }
        }
        &:nth-child(3) {
          .cart-img {
            width: 110px;
          }
        }
        &:nth-child(5) {
          .cart-img {
            width: 120px;
          }
        }
        &:nth-child(6) {
          .cart-img {
            width: 120px;
          }
        }
      }
    }
  }
}