.recipe {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  
    &-img {
      flex: 0 0 255px;
      height: 140px;
      margin-right: 30px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  
    &-content {
      flex: 0 0 calc(100% - 255px);
      position: relative;
      height: 140px;
    }
  
    &-title {
      margin-bottom: 7px;
      color: #555555;
      font-size: 20px;
      font-weight: normal;
    }
  
    &-description {
      line-height: 19px;
      color: #8A8A8A;
      line-height: 19px;
      font-size: 16px;
    }
  
    &-link {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
      .arrow {
        width: 50px;
      }
    }
  
    &:hover {
      .arrow {
        width: 70px;
      }
    }
  }
  
  .recipe-page {
    color: $black;
    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 20px;
  
      .img {
        flex: 0 0 255px;
        height: 140px;
        margin-right: 30px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
  
      .inscription {
        h2 {
          margin-bottom: 15px;  
        }
        .date {
          padding: 7px 10px;
          font-size: 14px;
          background-color: #FFE461;
          border-radius: 6px;
        }
      }
    }
  
    &__content {
      font-size: 15px;
      line-height: 20px;

      p {
        padding: 5px 0;
      }
      ul {
        padding: 5px 0;
        li {
          margin-left: 5px;
          list-style-type: disc;
        }
      }
    }
  }
  
@media (max-width: $desktop-big) {
  .recipe {
    &-description {
      padding-bottom: 50px;
    }
  }
}
  
@media (max-width: $tablet) {
  .recipe { 
    flex-wrap: wrap;
    &-img {
      margin: 0 auto;
    }
  
    &-content {
      flex: 0 0 90%;
      margin: 20px auto;
      height: 100px;
    }
  }

  .recipe-page {
    &__header {
      flex-wrap: wrap;
      .img {
        margin: 0 auto;
      }
      .inscription {
        margin-top: 25px;
      }
    }
  }
}

  @media (max-width: $phone) {
    .recipe {
      &-content {
        flex: 0 0 90%;
        padding-bottom: 40px;
        height: auto;
        font-size: 18px;
      }
    }
  }