// includes
@import './includes/variables.scss';
@import './includes/fonts.scss';
@import './includes/common.scss';
// ui
@import './ui/ui.scss';
@import './ui/inputs.scss';
@import './ui/buttons';
// components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/feedback.scss';
@import './components/modal.scss';
// pages
@import './pages/main.scss';
@import './pages/products.scss';
@import './pages/consumers.scss';
@import './pages/partners.scss';
@import './pages/about.scss';
@import './pages/contacts.scss';
@import './pages/news.scss';
@import './pages/recipes.scss';
// libraries
@import './libraries/slick.scss';


// z-indexes
.contacts {
  &__left {
    z-index: 3;
  }
}
// 20 - header
.header {
  z-index: 20;
  
  // 30 - burger
  &-burger {
    & > div {
      z-index: 30;
    }
  }
  // 25 - mobile header
  &-mobile {
    z-index: 25;
  }
}

// 30 - lighbox


