@font-face {
  src: url('/assets/fonts/SFRegular.ttf');
  font-family: SFRegular;
}
@font-face {
  src: url('/assets/fonts/Light.ttf');
  font-family: SFLight;
  font-weight: 100;
}
@font-face {
  src: url('/assets/fonts/Cervo.otf');
  font-family: Cervo;
}