.products {
  padding: 30px 0;
  .products {
    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-paginate {
      text-align: center;
      li {
        display: inline-block;
        background: #fff;
        padding: 10px 15px;
        cursor: pointer;
        text-align: center;
        color: $black;
        border-radius: 10px;
        font-size: 14px;
        &:not(:first-child) {
          margin-left: 5px;
        }
        &:first-child {
          background: #aaaaaa;
          color: #fff;
        }
      }
    }
  }
}

.product {
  width: 30%;
  margin: 0 5% 20px 0;
  cursor: pointer;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    .arrow {
      width: 55px;
    }
  }
  & > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  }

  &-img {
    width: 35%;
    max-height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-inner {
    width: calc(75% - 15px);
    margin-left: 15px;
    position: relative;
    height: 100%;
  }
  &-link {
    width: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    .arrow {
      width: 45px;
    }
  }
}

@media (max-width: $desktop-big) {
  .products {
    width: 95%;
    margin: 0 auto; 

  }
  .product {
    &-link {
      width: 140px;
    }
  }
}

@media (max-width: $desktop-little) {
  .product {
    width: 45%;
    margin: 10px auto;
    &:nth-child(3n) {
      margin-right: auto;
    }

  }
}

@media (max-width: $tablet) {
  .product {
    width: 60%;
  }
}

@media (max-width: $phone) {
  .product {
    width: 95%;
  }
}