.form {
  &-group {
    width: 100%;
    label {
      display: block;
      margin-bottom: 15px;
      color: #000;
      text-align: left;
      cursor: pointer;
    }

    input[type="text"], input[type="number"],
    input[type="email"], input[type="password"] {
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: 0px 4px 10px #E5E5E5;
      transition: 0.2s;

      &.input-error{
        border: 1px solid $red !important;
      }
    } 

    // sizes
    &-big {
      input[type="text"], input[type="number"],
      input[type="email"], input[type="password"],
      .v-select {
        padding-left: 25px;
        height: 65px;
        font-size: 16px;
      }

      label {
        font-size: 16px;
      }
    }
    &-sm {
      input[type="text"], input[type="number"],
      input[type="email"], input[type="password"], .v-select {
        padding-left: 15px;
        height: 55px;
        font-size: 14px;
      }

      label {
        font-size: 14px;
      }

      .ql-editor {
        font-size: 14px;
      }
    }

    // vue editor
    .quillWrapper {
      border: 1px solid #F2F2F2;
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: 0px 4px 10px #E5E5E5;
      background-color: #fff;
      transition: 0.2s;

      .ql-toolbar.ql-snow, .ql-container.ql-snow {
        border: 1px solid transparent;
      }

      &.editor-error {
        border: 1px solid $red !important;
      }
    }

    // photo-preview
    .photo-preview {
      position: relative;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  
      .cross {
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
  }
}